/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;} */
   /* Estilos del header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;}
#logo{padding: 1%;}
#RedesSociales{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;}
#RedesSociales>img{
    border-radius: 10%;}
h6{
    color:rgb(19, 19, 51)}
span{
    color:rgb(19, 19, 51)}
h2{
    color:rgb(19, 19, 51);
    text-align: center}
    /* Estilos del main index*/
ul {
    list-style-type: none;}
p{
    color:rgb(19, 19, 51);}
img{
    border-radius: 10%;
    padding:10px;}
.Body{
    background-image: linear-gradient( #54F2F2, #FFFF);
    font-family: 'poppins'; 
    font-style: italic;}
a:hover{color: rgb(69, 152, 235);
    font-family: fantasy;
    font-style: normal;}
a{ 
    font-weight: bold;}
iframe{border-radius: 10%;}
h1{background-image: url("../images/Logo.png");
    background-position: center;
    text-align: center;
    font-family:'poppins';
    font-weight: bolder;
    color: white; 
    font-style: normal;}
.Peugeot{width: 30%;
    min-width: 300px;
    padding: 3px;}
.RenaultDuster{width: 30%;
    min-width: 300px;
    padding: 3px;}
.RenaultKangoo{width: 420px;
    min-width: 300px;
    padding: 3px;}
.Ubi{width: 100%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.Ig{
    padding: 10px;
    border-radius: 15%;}
.Wpp{
    padding: 10px;
    border-radius: 20%;}
.Fb{
    padding: 10px;
    border-radius: 20%;}
.NosEncontras{
    text-align: center;}

/* Estilos de contacto */
.LetraContacto{
    color: lightslategray;}

/* Estilos de Lavadodeinterior */
.Interior1{
    height: 350px;
    width:400px;
    min-width: 300px;
    padding: 3px;}
.Interior2{
    height: 350px;
    width:400px;
    min-width: 300px;
    padding:3px}
.Interior3{
    height: 350px;
    width: 400px;
    min-width: 300px;
    padding: 3px;}
#VideoInterior{
    padding-top: 20px;
    display: flex;
    justify-content: center;}
.ImageInterior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
#txt{
    text-align: center;
    font-weight: bolder;}
    /* Estilos de Lavados */
#VideoLavado{
    display: flex;
    justify-content: center;
    padding-top:20px;}
.Ds3{
    width: 30%;
    min-width: 300px;
    padding: 3px;}
.Peugeot307{
    width: 30%;
    min-width: 300px;
    padding: 3px;}
.Corolla{
    width: 30%;
    min-width: 300px;
    padding: 3px;}
    /* Estilos de Productos */
.tabla{
    display: flex;
    justify-content: center;}
table{
    color:rgb(69, 152, 235);
    background-color: grey;
    width: 50%;}
.Productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;}
.Perfume{width: 50%;
    min-width: 300px;
    margin-left: 150px;}
.Aplicador{width: 50%;
    min-width: 300px;
    margin-left: 170px;}
    /* Footer */
/* footer{
     color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: grey;
    height: 390px;} */
.nosotros{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.linksImportantes{ 
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.contacto{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.linksFooter{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}

    /* Grid index */
/* .BodyIndex{
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
                "header header header"
                "nav nav nav"
                "ttindex ttindex ttindex"
                "card1 card2 card3"
                "ubi ubi ubi"
                "txtindex txtindex txtindex"
                "footer footer footer"
                "pie pie pie";}

.HeaderGrid{
    grid-area: header;
}
.navGrid{
    grid-area: nav;
}
.ttindexGrid{
    grid-area: ttindex;
}
.Card1{
    grid-area: card1;
}
.Card2{
    grid-area: card2;
}
.Card3{
    grid-area: card3;
}
.Ubi{
    grid-area: ubi;
}
.txtindex{
    grid-area: txtindex;
}
.FooterGrid{
    grid-area: footer;
}
.pie{
    grid-area: pie;
}
    
@media (max-width:360px) {
    .BodyIndex{
        grid-template-areas:
                "header"
                "nav"
                "ttindex"
                "card1"
                "card2" 
                "card3"
                "ubi"
                "txtindex"
                "footer"
                "pie";
            }
} */

/* Grid lavados */
/* .BodyLavados{
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
                "headerL headerL headerL"
                "navL navL navL"
                "ttL ttL ttL"
                "videoL videoL videoL"
                "txtL txtL txtL"
                "card1L card2L card3L"
                "footer footer footer"
                "pie pie pie";}

.HeaderLGrids{
    grid-area: headerL;
}
.navLGrids{
    grid-area: navL;
}
.VideoLGrids{
    grid-area: videoL;
}
.Card1L{
    grid-area: card1L;
}
.Card2L{
    grid-area: card2L;
}
.Card3L{
    grid-area: card3L;
}
.FooterLGrids{
    grid-area: footer;
}
.PieLGrids{
    grid-area: pie;
}
.ttLGrids{
    grid-area: ttL;
}
.txtLGrids{
    grid-area: txtL;
} */
footer p{
    color: black;
}

/* @media (max-width:360px) {
    .BodyLavados{
        grid-template-areas:
            "headerL"
            "navL"
            "ttL"
            "videoL"
            "txtL"
            "card1L"
            "card2L"
            "card3L"
            "footer"
            "pie";}
}

/* Grid Interior */
/* .BodyInterior{
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
                "headerI headerI headerI"
                "navI navI navI"
                "ttI ttI ttI"
                "videoI videoI videoI"
                "txtI txtI txtI"
                "card1I card2I card3I"
                "txtF txtF txtF"
                "footer footer footer"
                "pie pie pie";}

.HeaderIGrid{
    grid-area: headerI;
}
.navIGrid{
    grid-area: navI;
}
.ttIGrid{
    grid-area: ttI;
}
.videoIGrid{
    grid-area: videoI;
}
.txtIGrid{
    grid-area: txtI;
}
.Card1I{
    grid-area: card1I;
}
.Card2I{
    grid-area: card2I;
}
.Card3I{
    grid-area: card3I;
}
.txtfinalIGrid{
    grid-area: txtF;
}
.FooterIGrid{
    grid-area: footer;
}
.pieIGrid{
    grid-area: pie;
} */

/* @media (max-width:360px) {
    .BodyInterior{
        grid-template-areas:
            "headerI"
            "navI"
            "ttI"
            "videoI"
            "txtI"
            "card1I"
            "card2I"
            "card3I"
            "txtF"
            "footer"
            "pie";} 
    } */

/* Grid Productos */
/* .BodyProductos{
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
                "headerP headerP "
                "navP navP "
                "ttP ttP "
                "imgP imgP "
                "card1P card2P"
                "precios precios"
                "tabla tabla"
                "footer footer"
                "pie pie";}
.HeaderPGrid{
    grid-area: headerP;
}
.NavPGrid{
    grid-area: navP;
}
.ttPGrid{
    grid-area: ttP;
}
.ProductosGrid{
    grid-area: imgP;
}
.Card1P{
    grid-area: card1P;
    display: flex;
    justify-content: center;
}
.Card2P{
    grid-area: card2P;
    display: flex;
    justify-content: center;
}
.ttPreciosGrid{
    grid-area: precios;
}
.tabla{
    grid-area: tabla;
}
.FooterPGrid{
    grid-area: footer;
}
.PiePGrid{
    grid-area: pie;
}

@media (max-width:360px) {
    .BodyProductos{
        grid-template-areas:
            "headerP"
            "navP"
            "ttP"
            "imgP"
            "card1P"
            "card2P"
            "precios"
            "tabla"
            "footer"
            "pie";} 
} */

/* grid contacto */
/* .BodyContacto{
    height: 100%;
    display: grid;
    margin: 0 auto;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
                "headerC"
                "navC"
                "ttC"
                "contacto"
                "footer"
                "pie";}

.HeaderCGrid{
    grid-area: headerC;
}
.NavCGrid{
    grid-area: navC;
}
.ttCGrid{
    grid-area: ttC;
}
.contactoGrid{
    grid-area: contacto;
}
.FooterCGrid{
    grid-area: footer;
}
.PieCGrid{
    grid-area: pie;
}

@media (max-width:360px) {
    .BodyContacto{
        grid-template-areas:
        "headerC"
        "navC"
        "ttC"
        "contacto"
        "footer"
        "pie";}
} */