  /* Estilos del header */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;}
#logo{padding: 1%;}
#RedesSociales{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;}
#RedesSociales>img{
    border-radius: 10%;}
h6{
    color:rgb(19, 19, 51)}
span{
    color:rgb(19, 19, 51)}
h2{
    color:rgb(19, 19, 51);
    text-align: center}
    /* Estilos del main index*/
ul {
    list-style-type: none;}
p{
    color:rgb(19, 19, 51);}
img{
    border-radius: 10%;
    padding:10px;}
.Body{
    font-family: 'poppins';}
a:hover{color: rgb(69, 152, 235);
    font-family: fantasy;
    font-style: normal;}
a{
    font-weight: bold;}
iframe{border-radius: 10%;}
h1{
    background-position: center;
    text-align: center;
    font-family:'poppins';
    font-weight: bolder;
    color: white;
    font-style: normal;}
.Peugeot{width: 30%;
    min-width: 300px;
    padding: 3px;}
.RenaultDuster{width: 30%;
    min-width: 300px;
    padding: 3px;}
.RenaultKangoo{width: 420px;
    min-width: 300px;
    padding: 3px;}
.Ubi{width: 100%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.Ig{
    padding: 10px;
    border-radius: 15%;}
.Wpp{
    padding: 10px;
    border-radius: 20%;}
.Fb{
    padding: 10px;
    border-radius: 20%;}
.NosEncontras{
    text-align: center;}

/* Estilos de contacto */
.LetraContacto{
    color: lightslategray;}

/* Estilos de Lavadodeinterior */
.Interior1{
    height: 350px;
    width:400px;
    min-width: 300px;
    padding: 3px;}
.Interior2{
    height: 350px;
    width:400px;
    min-width: 300px;
    padding:3px}
.Interior3{
    height: 350px;
    width: 400px;
    min-width: 300px;
    padding: 3px;}
#VideoInterior{
    padding-top: 20px;
    display: flex;
    justify-content: center;}
.ImageInterior{
    display: flex;
    flex-direction: row;
    justify-content: space-between;}
#txt{
    text-align: center;
    font-weight: bolder;}
    /* Estilos de Lavados */
#VideoLavado{
    display: flex;
    justify-content: center;
    padding-top:20px;}
.Ds3{
    width: 30%;
    min-width: 300px;
    padding: 3px;}
.Peugeot307{
    width: 30%;
    min-width: 300px;
    padding: 3px;}
.Corolla{
    width: 30%;
    min-width: 300px;
    padding: 3px;}
    /* Estilos de Productos */
.tabla{
    display: flex;
    justify-content: center;}
table{
    color:rgb(69, 152, 235);
    background-color: grey;
    width: 50%;}
.Productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;}
.Perfume{width: 50%;
    min-width: 300px;
    margin-left: 150px;}
.Aplicador{width: 50%;
    min-width: 300px;
    margin-left: 170px;}
.nosotros{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.linksImportantes{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.contacto{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}
.linksFooter{
    height: 350px;
    width: 25%;
    min-width: 300px;
    padding: 10px;
    margin: 10px;}