nav {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.Body {
  background-color: radial-gradient(#ffffff, #9198e5); }
  .Body p {
    color: black;
    font-family: 'poppins';
    font-weight: bolder; }

img {
  border-radius: 10%;
  padding: 10px; }

h1 {
  background-position: center;
  text-align: center;
  font-family: 'poppins';
  font-weight: bolder;
  color: #1f1f53;
  font-style: normal; }

a {
  color: black;
  font-weight: bold; }
  a:hover {
    color: #4598eb;
    font-family: fantasy;
    font-style: normal; }

#RedesSociales {
  display: flex;
  flex-direction: row;
  justify-content: end;
  text-align: center; }
  #RedesSociales img {
    border-radius: 10%; }

.p-primario {
  color: red; }

.p-secundario {
  color: green; }

.p-terciario {
  color: blue; }

h2 {
  background-color: blue;
  font-size: 20px;
  padding: 1rem; }

.header, .footer {
  background-color: lightblue;
  font-size: 17px; }
  .header img, .footer img {
    background-color: black; }

.footer {
  background-color: grey; }

.contacto {
  width: 25%;
  height: 350px;
  min-width: 300px;
  padding: 10px;
  margin: 10px; }
