nav{
    display: flex;
    justify-content: space-between;
    align-items: center;}
.Body{background-image: $colorfondo;
    p{
    color:lightslategray;
    font-family: 'poppins'; 
    font-style: italic;}
}
img{
    border-radius: 10%;
    padding:10px;}
h1{
    background-position: center;
    text-align: center;
    font-family:'poppins';
    font-weight: bolder;
    color: $colortitulo; 
    font-style: normal;
}
a{  
    color: $colorletra;
    font-weight: bold;
    &:hover{color: rgb(69, 152, 235);
        font-family: fantasy;
        font-style: normal;}
}
#RedesSociales{
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-align: center;
    img{
    border-radius: 10%;}
}